In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('eo1.csv')

In [3]:
df2=pd.read_csv('eo2.csv')

In [4]:
df3=pd.read_csv('eo3.csv')

In [7]:
dfz=pd.read_csv('zipmsa.csv')

In [5]:
df1[:10]

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,ASSET_CD,INCOME_CD,FILING_REQ_CD,PF_FILING_REQ_CD,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME
0,19818,PALMER SECOND BAPTIST CHURCH,NaN,1050 THORNDIKE ST,PALMER,MA,01069-1507,3125,3,9,...,0,0,6,0,12,NaN,NaN,NaN,NaN,3514
1,29215,ST GEORGE CATHEDRAL,NaN,523 E BROADWAY,SOUTH BOSTON,MA,02127-4415,2365,3,9,...,0,0,6,0,12,NaN,NaN,NaN,NaN,NaN
2,587764,IGLESIA BETHESDA INC,NaN,157 ANDOVER ST,LOWELL,MA,01852-2348,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,X21,NaN
3,635913,MINISTERIO APOSTOLICO JESUCRISTO ES EL SENOR INC,NaN,454 ESSEX ST,LAWRENCE,MA,01840-1242,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,X21,NaN
4,765634,NEW HOPE CONGREGATIONAL CHURCH,NaN,757 SHAWMUT AVE APT 709,BOSTON,MA,02119-2048,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,X20,NaN
5,841363,AGAPE HOUSE OF PRAYER,NaN,39 GOODALE RD STE 2,MATTAPAN,MA,02126-1527,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,X20,NaN
6,852649,BETHANY PRESBYTERIAN CHURCH,NaN,32 HARVARD ST,BROOKLINE,MA,02445-7994,0,3,3,...,0,0,6,0,12,NaN,NaN,NaN,X20,NaN
7,1028397,UNITY IN THE CITY,NaN,955 MASSACHUSETTS AVE STE 117,CAMBRIDGE,MA,02139-3180,2062,3,9,...,0,0,1,0,12,NaN,NaN,NaN,NaN,NaN
8,1037180,MIDDLESEX BARBARIANS R F C INC,NaN,37 BOW ST,WOBURN,MA,01801-3636,0,3,3,...,0,0,2,0,1,NaN,NaN,NaN,N60,NaN
9,1085119,MOLINA INSTITUTE FOR PHOTON PHYSICS RESEARCH INC,% ALBERTO MOLINA MARTINEZ,20 WARE ST APT 24,CAMBRIDGE,MA,02138-4016,0,3,3,...,0,0,1,0,6,NaN,NaN,NaN,Z99,NaN

In [6]:
cities=['New York','Washington','Chicago','San Francisco','Boston','Seattle','Houston','Minneapolis','Philadelphia','Dallas','San Jose']

In [12]:
df4=df1.append(df2, ignore_index=True).append(df3, ignore_index=True)

In [23]:
df4['ZIP']=pd.DataFrame(list(df4['ZIP'].str.split('-')))

In [21]:
dfz['ZIP CODE']=pd.Series(dfz['ZIP CODE']).astype(str).str.zfill(5)

In [22]:
dfz[:5]

  ZIP CODE STATE    MSA1       MSA2    MSA3
0    00210    NH  Boston  Cambridge  Quincy
1    00211    NH  Boston  Cambridge  Quincy
2    00212    NH  Boston  Cambridge  Quincy
3    00213    NH  Boston  Cambridge  Quincy
4    00214    NH  Boston  Cambridge  Quincy

In [36]:
df=df4.merge(dfz, how='left', left_on=['ZIP','STATE'],right_on=['ZIP CODE','STATE'])

In [37]:
len(df)

1571022

In [200]:
df[:10].to_csv('see.csv')

In [107]:
df['EIN']=pd.Series(df['EIN']).astype(str).str.zfill(9)

In [109]:
df.to_csv('eo.csv')

Top 1000 from IRS

In [ ]:
df['INCOME_AMT']=df['INCOME_AMT'].replace('$','').replace(',','').astype(float)

In [304]:
dfkey= df.loc[df['MSA1'].isin(cities)]
df100=dfkey.sort_values(['INCOME_AMT'],ascending=False)[:100]

In [305]:
df100=df100[['EIN','NAME','STREET','CITY','STATE','ZIP','RULING','ASSET_AMT','INCOME_AMT','REVENUE_AMT','NTEE_CD','MSA1']]

In [306]:
df.rename(columns={'$a': 'a', '$b': 'b'}, inplace=True)
df100=df100.rename(columns={'EIN':'EIN','NAME':'Name in IRS Master File','STREET':'Street','CITY':'City','STATE':'State','ZIP':'Zip','RULING':'Founded','NTEE_CD':'NTEE Code'
})

In [307]:
df100=df100[df100['NTEE Code'].str.startswith('B') != True]

In [308]:
df100.to_csv('IRS100.csv',index=False)

4 Stars in Charity Navigator

In [66]:
df4stars=pd.read_excel('4starsNGO.xlsx',sheetname='All')

In [68]:
df4stars[:5]

,EIN,Name in IRS Master File,NTEE Code,NTEE Type (26),NTEE Classification,Affiliation,Founded,Overall,Financial Socre,Transparency Score,Tel,Website,Street,City,State,Zip,MSA1
0,41-1627391,Books For Africa Inc,Q30,"International, Foreign Affairs and National Se...","International Development, Relief Services",Independent,"September, 1993",99.95,99.93,100,tel: (651) 602-9844,http://www.booksforafrica.org,26 East Exchange Street,Saint Paul,MN,55101,Minneapolis
1,13-3848582,Fjc,I99,"Crime, Legal-Related","Crime, Legal Related N.E.C.",Independent,"January, 1996",99.89,99.85,100,tel: (888) 448-3352,http://www.fjc.org/,520 Eighth Avenue,New York,NY,10018,New York
2,77-0459884,Asha For Education,Q30,"International, Foreign Affairs and National Se...","International Development, Relief Services",Independent,"February, 1998",99.75,99.65,100,tel: (419) 855-2742,http://www.ashanet.org,P.O. Box 322,New York,NY,10040,New York
3,52-1555563,India Development And Relief Fund Inc,Q30,"International, Foreign Affairs and National Se...","International Development, Relief Services",Independent,"October, 1988",99.75,99.65,100,tel: (301) 704-0032,http://www.idrf.org,5821 Mossrock Drive,North Bethesda,MD,20852,Washington
4,94-2614101,Second Harvest Food Bank Of Santa Clara And Sa...,K31,"Food, Agriculture and Nutrition","Food Banks, Food Pantries",Independent,"December, 1979",99.67,99.54,100,tel: (866) 234-3663,http://www.shfb.org,750 Curtner Avenue,San Jose,CA,95125,San Jose

In [69]:
df4stars['EIN']=pd.DataFrame(list(df4stars['EIN'].str.replace('-','')))

In [272]:
len(df4stars)

979

In [280]:
len(df1000)

883

In [309]:
len(df100.loc[df100['EIN'].isin(list(df4stars['EIN']))])

6

Top 1000 from GuideStar

In [312]:
dfg=pd.read_csv('Key50M.csv',encoding='iso-8859-1')

In [313]:
dfg['EIN']=pd.DataFrame(list(dfg['EIN'].str.replace('-','')))

In [314]:
dfg=dfg[['Org Name','EIN','Address Line 1','City','State','Zip','NTEE Code','Total Assets','Total Income']]

In [315]:
dfg=dfg.rename(columns={'EIN':'EIN','Org Name':'Name in IRS Master File','Address Line 1':'Street','Total Assets':'ASSET_AMT','Total Income':'INCOME_AMT'
})

In [316]:
dfg100=dfg.sort_values(['INCOME_AMT'],ascending=False)[:100]

In [317]:
dfg100.to_csv('GuideStar100.csv',index=False)

In [318]:
len(dfg100.loc[dfg100['EIN'].isin(list(df4stars['EIN']))])

4

In [319]:
len(dfg100.loc[dfg100['EIN'].isin(list(df100['EIN']))])

53

In [190]:
dfr=pd.read_csv('ngoall.csv')

In [191]:
dfr['EIN']=pd.DataFrame(list(dfr['EIN'].str.replace('-','')))

In [202]:
len(df10000.loc[df10000['EIN'].isin(list(dfr['EIN']))])

1087

In [221]:
len(dfg.loc[dfg['EIN'].isin(list(df10000['EIN']))])

375

In [222]:
df.sort_values(['REVENUE_AMT'],ascending=False)[:10]

,EIN,NAME,ICO,STREET,CITY,STATE,ZIP,GROUP,SUBSECTION,AFFILIATION,...,ACCT_PD,ASSET_AMT,INCOME_AMT,REVENUE_AMT,NTEE_CD,SORT_NAME,ZIP CODE,MSA1,MSA2,MSA3
1515370,941340523,KAISER FOUNDATION HEALTH PLAN INC,% SVP CC AND CAO,2701 NW VAUGHN ST STE 490,PORTLAND,OR,97210,0,3,3,...,12,18476161448,6.650191e+10,45409123226,E310,NaN,97210,Portland,Vancouver,Beaverton
175726,311685372,SELENA THOMAS JACKSON PROFIT ORGANIZATION,% MT OLIVE UNITED MISSION,39 COTTAGE ST 2,LYNN,MA,01905,0,91,0,...,12,0,3.403211e+10,32773720872,NaN,MT OLIVE-UNITED REVENUE SERVICE INC,01905,Boston,Cambridge,Quincy
1514452,941105628,KAISER FOUNDATION HOSPITALS,% SVP CC AND CAO,2701 NW VAUGHN ST STE 490,PORTLAND,OR,97210,0,3,3,...,12,42837008991,3.049944e+10,20796549014,E210,NaN,97210,Portland,Vancouver,Beaverton
230578,900656139,PARTNERS HEALTHCARE SYSTEM INC,% PARTNERS FIN-TAX DIRECTOR,800 BOYLSTON STREET,BOSTON,MA,02199,5803,3,9,...,9,14701370735,1.109718e+10,11091388129,E21,AFFILIATES GROUP RETURN,02199,Boston,Cambridge,Quincy
274486,208295721,UPMC,% PHILLIP FREEMAN,600 GRANT ST FL 58,PITTSBURGH,PA,15219,9707,3,9,...,6,6276733210,1.038727e+10,10098163008,NaN,HOME NURSING AGENCY HOSPICE,15219,Pittsburgh,NaN,NaN
819495,900424876,UAW RETIREE MEDICAL BENEFITS TR,% NORTH TRUST COMPANY TTEE,200 WALKER ST,DETROIT,MI,48207,0,9,3,...,12,62942250299,1.188350e+11,9890722789,Y43,NaN,48207,Detroit,Warren,Livonia
545964,390123480,THRIVENT FINANCIAL FOR LUTHERANS,NaN,625 FOURTH AVE S MS 1370,MINNEAPOLIS,MN,55415,285,8,6,...,12,76993332592,2.566658e+10,9475129863,NaN,NaN,55415,Minneapolis,St. Paul,Bloomington
1514824,941196203,DIGNITY HEALTH,% MARY CONNICK - FINANCE DEPT,1800 N CALIFORNIA ST,STOCKTON,CA,95204,0,3,3,...,6,12980966213,1.060156e+10,8655129029,E22,NaN,95204,Stockton,NaN,NaN
827676,912153073,CLEVELAND CLINIC FOUNDATION,NaN,9500 EUCLID AVENUE NO JJ19,CLEVELAND,OH,44195,3641,3,9,...,12,12283938264,8.683925e+09,7523260077,E030,GROUP RETURN,44195,Cleveland,Elyria,Mentor
14973,042103580,PRESIDENT AND FELLOWS OF HARVARD COLLEGE,NaN,1033 MASSACHUSETTS AVE STE 3,CAMBRIDGE,MA,02138,0,3,3,...,6,68112313000,8.148716e+10,6740015230,B500,NaN,02138,Boston,Cambridge,Quincy